div{
    justify-content: center;
      border: 2px solid #333;   
      padding: 16px;            
      margin: 20px;             
      background-color: #f4f4f4;
      width: 250px;
      align-items:center;
     
}

body{
    width: 100vh;
    height: 100vh;
}